@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: teal;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #006e69;
    padding: 5px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

nav a::before {
    content: "[ ";
}

nav a::after {
    content: " ]";
}

nav a:hover {
    font-weight: bold;
}
