@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: teal;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #006e69;
    padding: 5px;
    top: 0;
    position: sticky;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

nav a::before {
    content: "[ ";
}

nav a::after {
    content: " ]";
}

nav a:hover {
    font-weight: bold;
}

.profile img {
    border-radius: 50%;
    width: 200px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile figcaption {
    font-size: smaller;
}

.profile > *:first-child {
    width: 100%;
}

.profile > *:not(:first-child) {
    padding: 0 20px;
    margin: 0;
}

.profile > figure {
    text-align: center;
}

.profile > div {
    flex: 1;
}

.profile > *:last-child {
    width: 100%;
}

.profile table th {
    padding-right: 20px;
    text-align: left;
}

aside {
    padding: 0 80px;
}

footer {
    padding: 20px;
    background-color: #006e69;
    text-align: center;
    color: white;
    margin-top: 30px;
}

#content {
    padding: 0 80px;
}

#content article {
    border: 1px solid #98b8b6;
    padding: 0 30px;
    background-color: #d8fffd67;

    transition: background-color 0.2s ease-out;

    font-size: 1.3rem;
    line-height: 2rem;
}

#content article:hover {
    background-color: #00A693;
    color: white;
}

#content article:not(:first-child) {
    margin-top: 10px;
}

h2 {
    border-bottom: 1px solid #04918a;
    color: #006e69;
}

@media screen and (max-width: 768px) {   
    nav ul {
        justify-content: center;
        font-size: xx-small;
    }

    .jumbotron {
        padding: 30px;
    }

    #content, aside {
        padding: 0 20px;
    }

    #content article {
        font-size: small;
        line-height: 1.5;
    }

    aside article {
        font-size: small;
    }

    #about-me figure {
        width: 100%;
    }
}
